@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crete+Round");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background: url("/img/dark-background.jpg");
  background-attachment: fixed;
  background-position: left top;
  background-size: 300%;
  padding: 1rem; }
  @media (min-width: 400px) {
    body {
      padding: 0 1rem; } }

section {
  background-color: #333;
  margin-bottom: 2rem;
  padding: 1rem;
  max-width: 1000px; }

.loading {
  display: block;
  width: 5rem;
  height: 5rem; }

a, h1 {
  color: #eee;
  font-family: "Crete Round", serif;
  text-decoration: none; }

p, h2, h3, label {
  color: #eee;
  font-family: "ABeeZee", sans-serif; }

h1 {
  font-size: 1.5rem; }
  @media (min-width: 400px) {
    h1 {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem; } }

h2, a {
  font-size: 1rem; }
  @media (min-width: 400px) {
    h2, a {
      font-size: 1.25rem; } }
  @media (min-width: 768px) {
    h2, a {
      font-size: 1.5rem; } }

h3 {
  font-size: 0.75rem; }
  @media (min-width: 400px) {
    h3 {
      font-size: 1rem; } }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.25rem; } }

p, label {
  font-size: 0.825rem; }
  @media (min-width: 400px) {
    p, label {
      font-size: 1.075rem; } }
  @media (min-width: 768px) {
    p, label {
      font-size: 1.325rem; } }

label > span {
  font-size: 0.575rem; }
  @media (min-width: 400px) {
    label > span {
      font-size: 0.7rem; } }
  @media (min-width: 768px) {
    label > span {
      font-size: 0.825rem; } }

input {
  font-size: 0.825rem; }
  @media (min-width: 400px) {
    input {
      font-size: 1.075rem; } }
  @media (min-width: 768px) {
    input {
      font-size: 1.325rem; } }

.type {
  font-family: "ABeeZee", sans-serif;
  font-size: 0.325rem; }
  @media (min-width: 400px) {
    .type {
      font-size: 0.575rem; } }
  @media (min-width: 768px) {
    .type {
      font-size: 0.825rem; } }

.nav-main, .nav-main a, .nav-main .links-wrapper, .nav-main-mobile a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.nav-main > a::before, .nav-main-mobile > a::before, .btn-hamburger {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

section, .loading, #header-nav, .btn-hamburger, #search-section, footer {
  margin-left: auto;
  margin-right: auto; }

#header-nav {
  background: center/cover no-repeat;
  background-image: url("/img/header-image.jpg");
  margin-bottom: 0;
  max-width: 1000px; }
  @media (min-width: 400px) {
    #header-nav {
      margin-bottom: 2rem; } }

.nav-main {
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 90%, transparent);
  padding: 1rem;
  width: 100%; }
  .nav-main a {
    align-items: center; }
    .nav-main a h1 {
      text-shadow: 1px 1px 5px black; }
  .nav-main > a::before {
    display: inline-block;
    background-image: url("/img/pokemon-search-logo.png");
    background-size: contain;
    content: "";
    height: 3rem;
    width: 4rem; }
  .nav-main .links-wrapper {
    text-align: center;
    align-items: center;
    max-width: 100%; }
    .nav-main .links-wrapper li {
      margin: 0 1rem; }

.nav-main-mobile {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 95%, transparent);
  padding: 1rem; }
  .nav-main-mobile a {
    justify-content: center;
    align-items: center; }
    .nav-main-mobile a h1 {
      text-shadow: 1px 1px 5px black; }
  .nav-main-mobile > a::before {
    display: inline-block;
    background-image: url("/img/pokemon-search-logo.png");
    background-size: contain;
    content: "";
    height: 3rem;
    width: 4rem; }
  .nav-main-mobile .links-wrapper-mobile {
    padding: .5rem 0; }
    .nav-main-mobile .links-wrapper-mobile li {
      margin-bottom: 1.25rem;
      width: 100%; }

.btn-hamburger {
  background-color: transparent;
  background: url("../../img/hamburger.png") no-repeat center/75%;
  padding: 1rem;
  border: none;
  cursor: pointer; }
  @media (min-width: 400px) {
    .btn-hamburger {
      padding: 1.5rem; } }

#search-section {
  display: table;
  background: transparent;
  max-width: 400px;
  padding: 1rem; }
  @media (min-width: 400px) {
    #search-section {
      margin-bottom: 1rem; } }
  @media (min-width: 768px) {
    #search-section {
      margin-bottom: 2rem; } }
  #search-section form {
    display: table-cell;
    vertical-align: middle; }
  #search-section label {
    display: block;
    background-color: #111;
    padding: .5rem 1rem;
    text-align: center; }
    #search-section label span {
      display: block;
      padding: .1rem 0;
      text-align: center; }
  #search-section input {
    display: block;
    float: left;
    padding: .25rem .5rem;
    width: 85%;
    height: 2.5rem;
    border: none; }
    @media (min-width: 400px) {
      #search-section input {
        height: 2.75rem; } }
    @media (min-width: 768px) {
      #search-section input {
        height: 3rem; } }
  #search-section button {
    float: right;
    background: no-repeat center/60% url("/img/search.png"), white;
    padding: 0;
    width: 15%;
    height: 2.5rem;
    border: none;
    cursor: pointer; }
    @media (min-width: 400px) {
      #search-section button {
        height: 2.75rem; } }
    @media (min-width: 768px) {
      #search-section button {
        height: 3rem; } }
  #search-section button:hover {
    background-image: url("/img/search-hover.png"); }
  #search-section .search-error {
    display: inline-block;
    background-color: #ba1604; }

#search-results h2 {
  margin-bottom: 1rem; }

#search-results ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }

#search-results li {
  background: #111;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%; }
  @media (min-width: 400px) {
    #search-results li {
      width: calc(100%/2 - 1rem); } }
  @media (min-width: 768px) {
    #search-results li {
      width: calc(100%/3 - 2rem); } }

#search-results img {
  max-width: 100%; }

#search-results h3 {
  padding: 0.5rem; }

footer {
  display: table;
  text-align: center;
  height: 5rem;
  max-width: 1000px; }
  footer h3 {
    display: table-cell;
    vertical-align: middle; }

.type {
  display: inline-block;
  margin: 0 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0.4rem 0.75rem;
  border-radius: 0.2rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000; }

.type-normal {
  background: #949562;
  border: 1px solid #66663e; }

.type-fire {
  background: #de5d1a;
  border: 1px solid #a33f0d; }

.type-water {
  background: #355be8;
  border: 1px solid #1238dc; }

.type-electric {
  background: #f0bc19;
  border: 1px solid #b38b0c; }

.type-grass {
  background: #56aa31;
  border: 1px solid #3b7921; }

.type-ice {
  background: #6ec4c3;
  border: 1px solid #3aa8a7; }

.type-fighting {
  background: #a61c1d;
  border: 1px solid #6d1515; }

.type-poison {
  background: #722173;
  border: 1px solid #521a53; }

.type-ground {
  background: #d2aa42;
  border: 1px solid #99741b; }

.type-flying {
  background: #9074de;
  border: 1px solid #634ba7; }

.type-psychic {
  background: #f20052;
  border: 1px solid #c90035; }

.type-bug {
  background: #889a18;
  border: 1px solid #4e5910; }

.type-rock {
  background: #968127;
  border: 1px solid #61541b; }

.type-ghost {
  background: #553d7c;
  border: 1px solid #312447; }

.type-dragon {
  background: #4a00f1;
  border: 1px solid #66663e; }

.type-dark {
  background: #433229;
  border: 1px solid #281f1a; }

.type-steel {
  background: #9695b7;
  border: 1px solid #666596; }

.type-fairy {
  background: #da66dc;
  border: 1px solid #c925cb; }
