#search-section
  @extend %center-object, %flex-box
  background: transparent
  max-width: 400px
  height: 15rem
  padding: $section-padding
  @include responsive(tablet)
    margin-bottom: 1rem
  @include responsive(desktop)
    margin-bottom: 2rem

  form
    @extend %flex-box

  label
    display: block
    background-color: $primary-color
    padding: .5rem 1rem
    width: 100%
    text-align: center

    span
      display: block
      padding: .1rem 0
      text-align: center

  input
    display: block
    float: left
    padding: .25rem .5rem
    width: 85%
    height: $search-bar-height
    border: none
    @include responsive(tablet)
      height: $search-bar-height + .25rem
    @include responsive(desktop)
      height: $search-bar-height + .5rem

  button
    float: right
    background: no-repeat center/60% url('/img/search.png'), white
    padding: 0
    width: 15%
    height: $search-bar-height
    border: none
    cursor: pointer
    @include responsive(tablet)
      height: $search-bar-height + .25rem
    @include responsive(desktop)
      height: $search-bar-height + .5rem

  button:hover
    background-image: url('/img/search-hover.png')

  .search-error
    display: inline-block
    background-color: $error-color
    width: initial