$primary-color: #111
$secondary-color: #333
$accent-color: #c12410
$error-color: #ba1604

$section-margin: 2rem
$section-padding: 1rem
$container-width: 1000px

$header-base-font-size: 1.75rem
$text-color: #eee
$header-font: 'Crete Round', serif;
$content-font: 'ABeeZee', sans-serif

$image-loading: url('/img/load.gif')

h1
  font-size: $header-base-font-size

h2
  font-size: $header-base-font-size - .5rem

h3
  font-size: $header-base-font-size - .75rem

h4
  font-size: $header-base-font-size - 1.25rem

h1,
h2,
h3,
h4,
a,
label,
input
  font-family: $header-font
  text-decoration: none

p
  font-family: $content-font

p, h1, h2, h3, h4, a, label
  color: $text-color

body
  background: url('/img/dark-background.jpg')
  background-attachment: fixed
  background-position: left top
  background-size: 300%

section
  @extend %center-object
  background-color: $secondary-color
  margin-bottom: $section-margin
  padding: $section-padding
  max-width: $container-width

.loading
  @extend %center-object
  display: block
  width: 5rem
  height: 5rem